* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    margin: auto;
}

#containAll {

}

#head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headName {
    border-bottom: 2px solid black;
}

.navLinks {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

ul, li {
    /* reset the margin and padding */
    margin: 1px;
    padding: 10px;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

.active {
    background-color: lightgray;
    border-radius: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#content {

}

#portfolio {
    /* display: none; */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(236, 236, 236);
    color: darkgray;
    text-align: center;
    margin-top: 5px;
}